body {
    font-family: 'Roboto' sans-serif ;
}
:root {
    --primary-header-color: #212121;
    --second-header-color: #FFFFFF;
    --third-header-color: #757575;
    --pimary-link-color: #FFFFFF;
    --accent-color: #2196F3;
    --advantages-color: #F5F4FA;
}
h1, 
h2,
h3,
h4,
h5,
h6,
p, {
    margin: 0px;
}
ul {
    margin: 0px;
    padding-left: 0px;
}
button {
    cursor: pointer;
}
body, footer {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
/* --------Header-------- */
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    display: flex;
    margin-right: 93px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
a.header-logo {
    color: #2196F3;
}
span.header-logo {
    color: #000000;
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus{
    color: var(--accent-color);
}
.header-dask {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
    margin-left: 93px;
}
.header-list .item + .item {
    margin-left: 50px;
}
.header-link {
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--primary-header-color);
    
}
.list {
    display: flex;
    margin-left: auto;
}
.list .items-subject + .items-subject {
    margin-left: 30px;
}
.list .items-img + .items-img {
    margin-left: 30px;
}
.list .items + .items {
    margin-left: 30px;
}
.header-mail {
    display: block;
    margin-right: 45px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--third-header-color);
}
.header-tel {
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--third-header-color);
}
.list-soc-icons {
    width: 16px;
    height: 12px;
}
.items-soc {
    display: flex;
}
.list-soc-icons {
    margin-right: 10px;
}
/* --------Main-hero-------- */
.hero {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0px;
    margin: 0 auto;
    background-color: #2F303A;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../imge/Img-hero.jpg);
}
.hero-title {
    margin-bottom: 40px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-header-color);
}
.main-button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-header-color);
    border: transparent;
}
.main-button {
    background-color: var(--accent-color);
}
/* --------Main advantages переваги--------- */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.items-subject {
    width: 270px;
    height: 246px;
}
/* .items-subject ::before {
    display: block
    content: "" ;
    height: 120px;
    background-size:containe;
    background-repeat: no repeat;
    background-pozition: center;
    background-color: #F5F4FA;
} */
.thumb {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumb-soc-icons {
    height: 120px;
}
.advantages-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-header-color);
}
.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;

    letter-spacing: 0.03em;
    color: var(--third-header-color);
}

/* --------Main directions приклади робіт--------- */
.directions {
    padding-bottom: 94px;
}
.directions-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
}
/* --------Main team section члени команди---------- */
.items-img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team {
    background-color: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
}
.team-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-header-color);
}
.team-soc-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-soc-items {
    width: 44px;
    height: 44px;
}
.team-soc-items:not(:last-child) {
    margin-right: 10px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
}
.team-soc-link:hover {
    background-color: var(--accent-color);
}
.team-soc-icons {
    width: 20px;
    height: 20px;
}
/* --------Main company section постійні кліенти---------- */
.company-section {
    height: 252px;
}
.company {
    width: 1170px;
    height: 182px;
    display: flex;
}
.compani-items {
    width: 170px;
    height: 92px;
    padding: 30px 64px;
    display: flex;
}


/* --------Footer---------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
a.footer-logo {
    color: #2196F3;
}
span.footer-logo {
    color: #FFFFFF;
}
.footer-list {
    margin-top: 20px;
    list-style: none;
}
.footer-list li {
    margin-bottom: 9px;
}
.footer-list li:last-child {
    margin-bottom: 0;
}
.footer-all {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--pimary-link-color);
}
.footer-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.teams-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 80px;
}
.teams-soc-items {
    width: 44px;
    height: 44px;
}
.teams-soc-items:not(:last-child) {
    margin-right: 10px;
}
.teams-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
}
.teams-soc-link:hover {
    background-color: var(--accent-color);
}
.teams-soc-icons {
    width: 20px;
    height: 20px;
}
.title-items {
    color: var(--pimary-link-color);
}
/* --------Portfolio-------- */
.portfolio-header {
    border-bottom: 1px solid #757575;
}
.btn-button {
    margin-left: 8px;
    border-radius: 4px;
    padding: 6px 22px;
    margin-bottom: 34px;

    font-weight: 500;
    font-size: 16px;
    line-height: 2,16;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
    cursor: pointer;
    border: transparent;
}
.portfolio-control {
    margin-left: 8px;
}
.portfolio-control:first-child {
    margin-left: 0;
}
.btn-button:hover,
.btn-button:focus{
    color: var(--second-header-color);
    background-color: var(--accent-color);
}
.btn-list {
    margin-left: auto;
    margin-right: auto;
}
.list-portfolio {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.list-portfolio li {
    margin-bottom: 30px;
    margin-right: 27px;
    list-style: none;
    border: 1px solid #EEEEEE;
}
.list-portfolio li:nth-child(3n) {
    margin-right: 0;
}
.portfolio-title {
    margin-left: 24px;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2,00;

    letter-spacing: 0.06em;
    color: var(--primary-header-color);
}
.portfolio-text {
    margin-left: 24px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1,87;

    letter-spacing: 0.03em;
    color: var(--third-header-color);
}
.list-port {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}
.list-portfolio.items :hover {
    box-shadow (0px 4px 4px rgba(0, 0, 0, 0.25));
}
.portfolio-control :hover,
.portfolio-control :focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

